extends layout

block content
  #app
    header
      h1 Companies
    #company-list
  footer
    form#add-form(method="post" action="comp" name="companyForm")
      input(name="companyname" type="text" placeholder="Company name...")
      input(name="earnings" type="text" placeholder="Annual earnings...")
      input.btn.btn-add(name="addButton" type="submit" value="Add")   
      input.btn.btn-edit(name="editButton" type="submit" value="Edit")
      input.btn.btn-remove(name="removeButton" type="submit" value="Remove")
        