extends layout

block content
  #app
    header
      h1 Companies
    #company-list
  footer
    form#add-form(method="post" action="comp" name="companyForm")
      input#name-field(name="companyname" type="text" placeholder="Company name...")
      input#earnings-field(name="earnings" type="text" placeholder="Annual earnings...")
      input.btn#btn-add(type="submit" value="Add")
      input.btn#btn-remove(type="submit" value="Remove")
      input.btn#btn-edit(type="submit" value="Edit")
        