doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery-1.12.3.min.js')
    script(src='/javascripts/requests.js')
    script(src='/javascripts/company.js')
    script(src='/javascripts/global.js')
    
    